@use './partials/body';
@use './partials/nav';
@use './partials/footer';
@use './partials/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 50%;
}

h1 {
  color: black;
}

.foto_demora_sentencia {
  background-color: #05060b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_sobre_nosotros {
  width: 115 px 134 px;
  background: aqua;
}

.contenedor_sobre_nosotros > img {
  width: 100%;

  padding: 5px;
}

.nuestros servicios {
  bottom: 40px;
  background: #8313de;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 300;
}

.contenedor_sobre_nosotros {
  width: 30%;
}

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 10px;
  background: #f2f2f2;
}

.imagen-abaust-us {
  width: 48%;
}

.contenido_textos > h3 {
  width: 100%;
  position: fixed;
  color: coral;
}

.contenido_textos > h3 p {
  color: coral;
}

.contenido_textos > h3 span {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

footer div ul li {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.div_footer {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
  background-color: #08415c;
  font-size: 0%;
  height: 6rem;
  width: 100%;
}

.logowhatsapp {
  height: 3rem;
  width: 3rem;
}

.logoGmail {
  height: 3rem;
  width: 3rem;
}

.logoface {
  height: 3rem;
  width: 3rem;
}

.logoinstagram {
  height: 3rem;
  width: 3rem;
}

.lista_de_servicios {
  position: relative;
  width: 100%;
}

.largo {
  height: 40rem;
}

.lista_izquierda {
  position: absolute;
  width: 33, 33%;
  left: 0%;
}

.lista_medio {
  position: absolute;
  width: 33, 33%;
  left: 33, 33%;
}

.lista_derecha {
  position: absolute;
  width: 33, 33%;
  left: 66, 66%;
}

/*galeria*/
.portafolio {
  background: #f2f2f2;
  display: flex;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen_port {
  width: 24%;
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen_port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform 0.5s;
  justify-content: center;
  align-items: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen_port:hover.hover-galeria {
  transform: scale(1);
}
.responsive-imag {
  max-width: 100%;
  height: auto;
}
/*Pseudoelementos*/
h3:nth-child(1) {
  background-color: variables.$color-fondo-principal;
}

h3:nth-child(3) {
  background-color: variables.$color-fondo-principal;
}

h3:nth-child(5) {
  background-color: variables.$color-fondo-principal;
}

.subtitle-penal {
  color: black;
}

.container-penal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .penal-content {
    background-color: variables.$color-fondo-principal;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
}

.familia-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .familia-banner-content {
    margin-right: 50px;
  }
}

.container-familia {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .familia-element {
    background-color: variables.$color-fondo-principal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 50px;
  }
}

@media (max-width: 1200px) {
  .familia-banner {
    flex-direction: column;
  }
}

.laboral-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .laboral-content {
    margin: 10px 0;
    padding: 50px;
    background-color: variables.$color-fondo-principal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 300px;
    }
  }
}

.contact-container {
  min-height: 75vh;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  form {
    margin: 50px 0;
    width: 300px;
  }
}
