footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  li {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .logos-redes {
    height: 2rem;
  }
}
